html{
  cursor: url('./pointy_mouse.png'), auto;
  background-image: url('./tile.png');
  background-repeat: repeat;
  background-size: 409vh 289vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

body{

}

.page{
  height: 150vh;
  width: inherit;
  margin-left: auto;
  margin-right: auto;
  display:block;
  max-width: 100%;
  max-height: auto;
  min-width: 100%;
  min-height: auto;
}

footer{
  font-family: Courier;
  color: pink;
}
