html{
  cursor: url('./pointy_mouse.png'), auto;
  background-image: url(floodtile2.png);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
}

body{

}

.page{
  height: 150vh;
  width: inherit;
  margin-left: auto;
  margin-right: auto;
  display:block;
  padding: 10px;
}

footer{
  font-family: Courier;
  color: pink;
  background-color: black;
}

audio{
  margin-left: auto;
  margin-right: auto;
  display:block;
}

button{
  background-color: black;
  font-size: 12px;
  font-weight: bold;
  font-family; Ariel;
  font-style: italic;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  display:block;
  cursor: url('./mouse2.png'), auto;
  



}

button:hover{
  color: white;
}
